server {
    listen {{ web_server_port }};
    listen [::]:{{ web_server_port }};
    server_name {{ web_server_name }};
       
    location / {
        client_max_body_size 512M;
        proxy_pass http://localhost:{{ gitea_backend_port }};
        proxy_set_header Connection $http_connection;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}
